:root {
   --semgroen: #c3ffb7;
   --zwart: #000000;
   --degrondachter: #f5eadd;
   --EVIL: #ff0000;
}

html, body {
  height: 100%;     
  margin: 0;         
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--degrondachter);
  display: flex;
  flex-direction: column; 

header {
   background-color: var(--semgroen);
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
}

nav {
  background-color: #e0ffe0;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #004d00;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  margin: 0 10px;
}

nav ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    gap: 20px;
    justify-content: center;
}
nav a { 
    color: #004d00; 
    text-decoration: none; 
    font-weight: 600; 
}
nav a:hover { 
    text-decoration: underline; 
}

main {
  flex: 1;
  margin: 10px;
}

footer {
  background-color: var(--semgroen);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--zwart);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

img {
  max-width: 20%;   /* afbeelding schaalt nooit breder dan container */
  height: auto;      /* behoudt verhoudingen */
  display: block;    /* voorkomt rare whitespace */
}