:root {
   --semgroen: #c3ffb7;
   --zwart: #000000;
   --degrondachter: #f5eadd;
   --EVIL: #ff0000;
   --EVIL2: #8b0202;
   --EVIL3: #000000;
}




body {
  font-weight: 400;
  font-style: normal;
  background-color: var(--EVIL3);
  color: #ffffff;
}

header {
   background-color: var(--EVIL);
   border-radius: 10px;
   display: flex;
   align-items: center;   /* verticaal centreren */
   justify-content: space-between; /* verdeelt logo links, tekst in midden */
   margin: 10px;
   padding: 0 20px;
}

header img {
   max-width: 80px;
   height: auto;
   margin: 0;   /* haal margin:auto weg */
}

header h1 {
   flex: 1;                /* neemt de resterende ruimte */
   text-align: center;     /* tekst in het midden */
   margin: 0;              /* geen rare extra marges */
}


nav {
  background-color: #b61414;
  border: 2px solid var(--start);
  border-radius: 10px;
  padding: px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  
}


nav ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
}
nav a { 
    color: var(--nav-text); 
    text-decoration: none; 
    font-weight: 600; 
}
nav a:hover { 
    text-decoration: underline; 
}
main {

}
footer {
  background-color: var(--EVIL);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--zwart);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}